<!DOCTYPE html>

<HTML>

    <HEAD>
        <link rel = "icon" href="/img/weather-Image.png">
    </HEAD>

    <TITLE>About Us</TITLE>

    <BODY>
        <Div class= "main-content">
            {{>header}}
            <p> The App is designed by Lokesh Goyal. The app is working on the combination of two API known as Mapbox and WeatherStack.<BR>
            This app is able to forecast weather for any given location</p>
        </Div>
        
        {{>footer}}
    </BODY>
</HTML>