<!DOCTYPE html>

<HTML>

    <HEAD>
        <link rel = "icon" href="/img/weather-Image.png">
    </HEAD>

    <TITLE>Error</TITLE>

    <BODY>
        <Div class= "main-content">
            {{>header}}

            <p style = "margin-top:2vw; color: #4e4e4e">
                {{message}}
            </p>

        </Div>
        
        {{>footer}}
    </BODY>
</HTML>