<!DOCTYPE html>

<HTML>

    <HEAD>
        <link rel = "icon" href="/img/weather-Image.png">
    </HEAD>

    <TITLE>Homepage</TITLE>

    <BODY>
        <Div class= "main-content">
            {{>header}}
        </Div>
        
        {{>footer}}
    </BODY>
</HTML>