<link rel = "stylesheet" href = "/css/style.css">
 
<H1>{{filename}}</H1>

<Header>
    <a href = "/weather"> Weather</a>
    <a href = "/about">  About us</a>
    <a href = "/help" > Help</a>    
</Header>

    